html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.content {
	margin: 0 auto;
	text-align: center;
}

.title {
	margin-top: 40px;
	font-size: 24px;
}

img {
	margin: 12px 0;
}

.input {
	text-align: center;
	margin-bottom: 10px;
}
